* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  list-style: none;
  text-decoration: none;
}

.container-main {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 2%;
}

.color-main {
  background: #294f8b;
}
.color-main-1 {
  background: #808080;
}
.color-dark {
  background: black;
}
.color-light {
  background: #dcdcdc;
}
.color-sub {
  background: #5080cc;
}
.color-gradient-main {
  background: linear-gradient(#5080cc, #294f8b);
}
.background-fixed {
  background-attachment: fixed;
}

.rounded-all {
  border-radius: 5vi;
}
.rounded-one {
  border-radius: 0vi 0vi 0vi 5vi;
}
.rounded-one-1 {
  border-radius: 0vi 5vi 0vi 0vi;
}
.rounded-two {
  border-radius: 3vi 7vi;
}

.text-style-1 {
  color: black;
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 900;
}
.text-style-2 {
  color: black;
  font-family: helvetica;
  font-weight: bold;
  font-size: large;
}

.margin-left-big {
  margin-left: 6vi;
}
.padding-small {
  padding: 1vi;
}
.padding-medium {
  padding: 2vi;
}

.rectangle-main {
  width: 40vi;
  height: 12vi;
  position: absolute;
}

.button-hover-main {
}
