* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  color: black;
  list-style: none;
  text-decoration: none;
}

.container-main {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 2%;
}

.container-main-horizontal {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.color-main {
  background: #294f8b;
}

.color-main-1 {
  background: #808080;
}

.color-dark {
  background: black;
}

.color-light {
  background: #dcdcdc;
}

.color-sub {
  background: #5080cc;
}

.color-gradient-main {
  background: linear-gradient(#5080cc, #294f8b);
}

.color-gradient-radial-main {
  background: radial-gradient(closest-side, #5080cc, #294f8b);
}

.background-fixed {
  background-attachment: fixed;
}

.fixed {
  position: fixed;
}

.rounded-all {
  border-radius: 5vw;
}

.rounded-all-sub {
  border-radius: 3vw 5vw;
}

.rounded-one {
  border-radius: 0vw 0vw 0vw 5vw;
}

.rounded-one-reversed {
  border-radius: 0vw 5vw 0vw 0vw;
}

.rounded-two {
  border-radius: 5vw 15vw;
}

.text-style-1 {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 700;
}

.text-style-2 {
  font-family: helvetica;
  font-weight: bold;
  font-size: large;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-column {
  display: flex;
  flex-direction: column;
}
.container-row {
  display: flex;
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-light {
  color: #dcdcdc;
}

.text-dark {
  color: black;
}

.text-bold {
  font-weight: bold;
}

.fill {
  width: 100%;
  height: 100%;
}

.fill-horizontal {
  width: 100%;
}

.margin-left-big {
  margin-left: 10vw;
}

.margin-left-medium {
  margin-left: 5vw;
}

.margin-right-medium {
  margin-right: 5vw;
}

.margin-right-small {
  margin-right: 2vw;
}

.margin-top-small {
  margin-top: 2vw;
}

.margin-big {
  margin: 10%;
}

.margin-medium {
  margin: 5%;
}

.margin-top-medium {
  margin-top: 5%;
}

.margin-bottom-medium {
  margin-bottom: 5%;
}

.margin-small {
  margin: 2%;
}
.padding-small {
  padding: 1vw;
}

.padding-medium {
  padding: 5%;
}

.padding-big {
  padding: 10%;
}

.border-solid {
  border-style: solid;
}

.border-color-light {
  border-color: #dcdcdc;
}

.border-none {
  border-style: none;
}

.hover-main:focus,
.hover-main:hover {
  display: block;
  color: #294f8b;
  transform: scale(1.15) rotate(1deg);
}

.hover-sub:focus,
.hover-sub:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5vh;
  text-decoration-color: #294f8b;
}

.hover-button-simple:focus,
.hover-button-simple:hover {
  background: radial-gradient(#5080cc, #294f8b);
}

.hover-button-simple:focus,
.hover-button-simple-1:hover {
  background: #dcdcdc;
}

.hidden {
  display: none;
}

.table-main {
  border-collapse: collapse;
}

.table-main th {
  padding: 1%;
  background-color: #294f8b;
  color: #dcdcdc;
}

.table-main td {
  border-bottom: 0.3vw solid #808080;
}

.table-main tr:hover {
  background-color: #808080;
}
